<div class="row">
	<div class="col-md-1" style="height:100%">
		<button type="button" class="btn btn-info btn-lg btn-add" ng-click="vm.openModal()">+ Add</button>
	</div>
	<div class="col-md-11">
		<div class="well well-sm">
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail3">Campo1</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
				</div>
				<div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Campo2</label>
					<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Campo3
					</label>
				</div>
				<button type="submit" class="btn btn-default pull-right">Pesquisar</button>
			</form>
		</div>	
	</div>
</div>

<table class="table table-striped" ng-if="vm.artistList">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Alias</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="artist in vm.artistList">
			<td>{{ artist.id }}</td>
			<td><a href="#/artist/{{ artist.id }}">{{ artist.name }}</a></td>
			<td>{{ artist.alias }}</td>
			<td class="icons">
				<span class="glyphicon glyphicon-edit" ng-click="vm.openModal(artist)"></span>
				<span class="glyphicon glyphicon-trash" ng-click="vm.remove(artist.id)"></span>
			</td>
		</tr>
	</tbody>
</table>

<div class="text-center" ng-if="vm.totalItems && vm.totalItems > 0">
	<ul uib-pagination total-items="vm.totalItems" ng-model="vm.pageNumber" ng-change="vm.pageChanged()" max-size="7" boundary-links="true" items-per-page="20"></ul>
</div>