<!DOCTYPE html>
<html>

<head>
	<title>K-Pop Stats</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/select.css">
	<link rel="stylesheet" type="text/css" href="css/angular-toastr.css">
	<link rel="stylesheet" type="text/css" href="css/ladda-themeless.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body ng-app="kpop-stats" class="ng-cloak">
	<nav class="navbar navbar-default navbar-static-top">
		<div ng-controller="navigation as nav" class="container">
			<div class="navbar-header">
	        	<button type="button" class="navbar-toggle" ng-click="navbarCollapse = !navbarCollapse" aria-expanded="true">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">k-pop base</a>
	        </div>
	        
	        <div id="navbar" class="navbar-collapse collapse" uib-collapse="navbarCollapse" aria-expanded="true">
				<ul class="nav navbar-nav" bs-active-link>
					<li class="active"><a href="#/">Home</a></li>
					<li><a href="#/artist">Artist</a></li>
					<li><a href="#/track">Track</a></li>
					<li><a href="#/download">Downloads</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-show="!authenticated"><a href="#/register">Register</a></li>
					<li ng-show="!authenticated"><a href="#/login">Login</a></li>
					<li ng-show="authenticated"><a href="" ng-click="nav.logout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div ng-view class="container"></div>

	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/select.js"></script>
	<script type="text/javascript" src="js/select-tpls.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-1.3.1.js"></script>
	<script type="text/javascript" src="js/angular-bootstrap-file-field.min.js"></script>
	<script type="text/javascript" src="js/angular-toastr.tpls.js"></script>
	<script type="text/javascript" src="js/spin.min.js"></script>
	<script type="text/javascript" src="js/ladda.min.js"></script>
	<script type="text/javascript" src="js/angular-ladda.js"></script>
	
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/directives.js"></script>
	<script type="text/javascript" src="app/services.js"></script>
	<script type="text/javascript" src="app/controllers.js"></script>
</body>

</html>