<table class="table table-striped" ng-if="vm.trackList">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Artist</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="track in vm.trackList">
			<td>{{ track.id }}</td>
			<td>{{ track.title }}</td>
			<td><span ng-repeat="artist in track.artists">{{ artist.name }} </span></td>
			<td class="icons">
				<div class="icons-fixed pull-right">
					<span class="glyphicon glyphicon-edit" ng-click="carregaEpisodio(episodio.id)"></span>
					<span class="glyphicon glyphicon-trash" ng-click="deletaEpisodio(episodio.id)"></span>
				</div>
			</td>
		</tr>
	</tbody>
</table>